body {
    background-color:#EFEBFC;
}
h4{
    margin: 50px
}
p {
    border: 10px solid white;
    padding: 30px;
    background-color:#EFEBFC;
    margin: 50px;
}
.nav-item {
margin: 30px;
background-color: wheat;

}