body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    

p {
    border-width: 30px;
    background-color: #F1ECFF;
    padding: 30px ;
    text-align: justify;
    margin: 50px;
}

.nav-item {
margin: 3px;
background-color: none ;
font-stretch: expanded;

}
/* list item navbar */
.nav-link {
    padding: 30px;
    color: white !important;
    font-size: medium;
    font-weight: bold; 
    font-weight: 500;
}

/* navbar */
.nav nav-pills{
    text-align: justify;
       
}
/* judul section */
h4 { 
    font-weight: 300px;
    text-align: center;
    font-size: medium;
}
.data-bs-target {
    background-color: none;
}
  